<head>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
</head>

<style>
    body {
            {
                {
                !-- background-color: #f2f6fc;
                --
            }
        }

        color:#69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

{{>adminHeader}}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item">
                        <a href="/admin/home" class="nav-link align-middle px-0 "
                            style="background-color: #fff; padding: 2px;">Home </a>
                    </li>

                    <li>
                        <a href="/admin/manage_users" class="nav-link px-0 align-middle"> Users </a>
                    </li>

                    <li>
                        <a href="/admin/category" class="nav-link px-0 align-middle btn btn-outline-primary">Category
                        </a>
                    </li>
                    <li>
                        <a href="/admin/orders" class="nav-link px-0 align-middle">Orders</a>
                    </li>
                    <li>
                        <a href="/admin/product" class="nav-link px-0 align-middle"> Products </a>
                    </li>
                    <li>
                        <a href="/admin/coupons" class="nav-link px-0 align-middle"> Coupons </a>
                    </li>
                    <li>
                        <a href="/admin/banners" class="nav-link px-0 align-middle"> Banner </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3" style="text-align: center;">

            <div class="mt-5" style="color: #000;">
                <h1>Admin Dashboard</h1>
                <hr>
            </div>

            {{!-- <nav class="navbar navbar-light bg-light mb-4 p-10">
                <div class="form-inline" style="margin-right: 2%;">

                    <a href="/admin/sales_report" class="btn btn-outline-secondary" type="button">Sales Report</a>

                </div>
            </nav> --}}

            <div class="container-xl px-4" style="margin-top: 10px; margin-bottom: 150px;">

                <div class="row">

                    <div class="col-xl-3 mb-5 mt-5">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">This Month Revenue</div>
                            <div class="card-body ml-3 p-5">
                                <h2>${{thisMonthSales}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 mt-5">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">This Month sales</div>
                            <div class="card-body ml-3 p-5">
                                <h2>{{thisMonthOrder}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 mt-5">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Total Revenue</div>
                            <div class="card-body ml-3 p-5">
                                <h2>${{totalRevnue}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 mt-5">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Total sales</div>
                            <div class="card-body ml-3 p-5">
                                <h2>{{totalSales}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Monthly Sales </div>
                            <div class="card-body ml-3 p-5">
                                <canvas id="myChart"></canvas>

                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Monthly Revenue</div>
                            <div class="card-body ml-3 p-5">
                                <canvas id="myChart1"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-xl px-4" style="margin-top: 100px; margin-bottom: 80px;">

                <nav class="navbar navbar-light bg-light mb-4 p-10">

                    <div class="form-inline d-flex m-3">
                        <div class="form-group" style="margin-right: 2%;">
                            <label for="start-date">Start Date:</label>
                            <input type="date" class="form-control" id="start-date" min="" max="">
                        </div>
                        <div class="form-group" style="margin-right: 2%;">
                            <label for="end-date">End Date:</label>
                            <input type="date" class="form-control" id="end-date" min="" max="">
                        </div>
                        <div class="form-group mt-4 mr-2">
                            <button onclick="getSalesData()" type="button" class="btn btn-primary">Submit</button>
                        </div>
                        <input id="revenue" type="hidden" value="{{revnueByMonth}}">

                    </div>

                    <div style="margin-right: 50%;">
                        <h4> Get Sales Report </h4>
                    </div>


                    {{!-- <div class="form-inline" style="margin-right: 2%;">
                        <button class="btn btn-outline-secondary" type="button">This Year </button>
                        <button onclick="getThisMOnthOrders()" class="btn btn-outline-secondary" type="button">This
                            Month</button>
                        <a href="/admin/current_month_orders" class="btn btn-outline-secondary" type="button">This
                            Week</a>

                    </div> --}}
                </nav>

                <div class="row" id="table">

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascripts/chart.js"></script>
<script>


    let months
    let ordersByMonth
    let revenueByMonth

    const getChartData = async () => {
        const response = await fetch('/admin/get_chart_data', {
            headers: { 'Content-Type': "application/json" },
        })

        const data = await response.json()

        months = data.months
        console.log(typeof months, months)
        ordersByMonth = data.odersByMonth
        revenueByMonth = data.revnueByMonth

        //graph functions
        salesGraph(months,ordersByMonth)
        revenue(months,revenueByMonth)

    }

    getChartData()


    function salesGraph(months,ordersByMonth) {
        const ctx = document.getElementById('myChart1');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels:months ,
                datasets: [{
                    label: '# of Sales',
                    data: ordersByMonth,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })
    }


function revenue(months,revenueByMonth){
    const ctx1 = document.getElementById('myChart');
    new Chart(ctx1, {
        type: 'line',
        data: {
            labels: months,
            datasets: [{
                label: '# Revenue',
                data: revenueByMonth,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}




</script>