{{>adminHeader}}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item">
                        <a href="/admin/home" class="nav-link align-middle px-0 ">Home </a>
                    </li>

                    <li>
                        <a href="/admin/manage_users" class="nav-link px-0 align-middle"> Users </a>
                    </li>

                    <li>
                        <a href="/admin/category" class="nav-link px-0 align-middle btn btn-outline-primary">Category
                        </a>
                    </li>
                    <li>
                        <a href="/admin/orders" class="nav-link px-0 align-middle"
                            style="background-color: #fff; padding: 2px;">Orders</a>
                    </li>
                    <li>
                        <a href="/admin/product" class="nav-link px-0 align-middle"> Products </a>
                    </li>
                    <li>
                        <a href="/admin/coupons"  class="nav-link px-0 align-middle" > Coupons </a>
                    </li>
                    <li>
                        <a href="/admin/banners" class="nav-link px-0 align-middle"> Banner </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3" style="text-align: center;">

            <table class="table table-hover" style="border-top: 1px solid black;">
                <thead>
                    <tr>
                        {{!-- <th scope="col">No</th> --}}
                        <th scope="col">Date</th>
                        <th scope="col">Order id</th>
                        <th scope="col">payment method</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ordersData}}

                    <tr>
                        {{!-- <th scope="row">{{add @index 1}}</th> --}}
                        <td>{{this.date}}</td>
                        <td>{{this.orderId}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.status}}</td>
                         {{!-- <td>{{this._doc.status}}</td> --}}
                        <td>
                            {{!-- <a href="/admin/edit_category/{{this._doc.id}}" type="button"
                                class="btn btn-warning">Delivered</a> --}}
                            <a href="/admin/order_details?id={{this._id}}" type="button"
                                class="btn btn-secondary">View details</a>
                        </td>
                        <td>
                            <form action="/admin/change_status?id={{this._id}}" method="post">
                            <div class="d-flex" style="width: 70%;">
                                <div style="width: 100%;" class="p-l-15 ">
                                    <select name="status" class="form-select" aria-label="Default select example">
                                        <option selected>Change order status</option>
                                        <option value="Shipped">Shipped</option>
                                        <option value="Delivered">Delivered</option>
                                    </select>
                                </div>
                                <div>
                                    <button type="submit" class="m-l-5 btn btn-primary">submit</button>
                                </div>
                            </div>
                        </form>
                        </td>
                    </tr>

                    {{/each}}



                </tbody>
            </table>

            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                {{!-- <li class="page-item "> --}}
                  {{#for 1 totalPages 1}}
                 
                 <li class="page-item {{#ifeq this currentPage}} active {{/ifeq}}">
                    <a class="page-link" href="/admin/orders?page={{this}}">{{this}}</a>
                </li>
             
                
                  {{/for}}
              </ul>
            </nav>

        </div>
    </div>
</div>


<script>
    Handlebars.registerHelper('add', function (num1, num2) {
        return num1 + num2;
    });

</script>