{{>userHeader}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    body {
      color: #69707a;
    }

    .img-account-profile {
      height: 10rem;
    }

    .rounded-circle {
      border-radius: 50% !important;
    }

    .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
      font-weight: 500;
    }

    .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
      padding: 1rem 1.35rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
      color: #0061f2;
      border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
      color: #69707a;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  </style>
</head>

<body>
  <div class="container-xl px-4" style="margin-top: 100px; margin-bottom: 100px;">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
      <a class="nav-link " href="/profile">About me</a>
      <a class="nav-link" href="/adresses">Manage Address</a>
      <a class="nav-link" href="/wishlist">Wishlist</a>
      <a class="nav-link active ms-0" href="/my_orders">My Orders</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
      <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
          <div class="card-header">Profile Picture</div>
          <div class="card-body text-center">
            <!-- Profile picture image-->
            <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png"
              alt="">
            <!-- Profile picture help block-->
            <div class="small font-italic text-muted mb-4"></div>
            <!-- Profile picture upload button-->
            <div>

              <button class="btn btn-primary" type="button"></button>

            </div>

            <h3 class="mt-4 mb-4">Hello, {{userData.name}}</h3>

          </div>
        </div>
      </div>


      <div class="col-xl-8">






        <!-- Account details card-->
        {{!-- <div class="card mb-4">
          <div class="card-header">Orders</div>
          <div class="card-body">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Order id</th>
                  <th scope="col">Payment method</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each myOrders}}
                <tr>
                  <td scope="row">{{this.date}}</td>
                  <td>{{this.orderId}}</td>
                  <td>{{this.paymentMethod}}</td>
                  <td>${{this.total}}</td>
                  <td>{{this.status}}</td>
                  <td>
                    <a href="/order_details?id={{this._id}}" type="button" class="btn btn-warning">View details</a>
                    <a href="/cancel_order?id={{this._id}}" type="button" class="ml-2 text-danger">
                      Cancel

                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>

            <!-- Pagination links -->
            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                {{#if totalPages}}
                {{#each getPageNumbers totalPages currentPage}}
                <li class="page-item {{#if (isEqual this ../currentPage)}}active{{/if}}">
                  <a class="page-link" href="/my_orders?page={{this}}">{{this}}</a>
                </li>
                {{/each}}
                {{/if}}
              </ul>
            </nav>

          </div>
        </div> --}}















        <!-- Account details card-->


        <div class="card mb-4">
         <div>
           <div class="card-header d-flex">Orders
           <div class="ml-auto">
              <a href="/delivered_orders"  type="button" class="btn btn-outline-secondary">Delivered</a>
            <a href="/canceled_orders" type="button" class="btn btn-outline-secondary">Canceled</a>
           </div>
         </div>

          </div>
          <div class="card-body">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Order id</th>
                  <th scope="col">Payment method</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>

                {{#each myOrders}}
                <tr>
                  <td scope="row">{{this.date}}</td>
                  <td>{{this.orderId}}</td>
                  <td>{{this.paymentMethod}}</td>
                  <td>${{this.total}}</td>
                  <td><span id="order_status">{{this.status}}</span></td>
                  <td>

                    <input type="hidden" name="order_id" value="{{this._id}}">
                    <a href="/order_details?id={{this._id}}" type="button" class="btn btn-warning">View details</a>
                    {{!-- {{#ifeq this.status 'pending'}}
                    <span id="cancel_btn">
                      <button onclick="status()" type="button" class="ml-2 btn btn-danger">
                        Cancel
                      </button>
                    </span>
                    {{/ifeq}}

                    {{#ifeq this.status 'Delivered'}}
                    <span id="cancel_btn">
                      <button onclick="Return()" type="button" class="ml-2 btn btn-danger">
                        Return
                      </button>
                    </span>
                    {{/ifeq}}

                    {{#ifeq this.status 'Shipped'}}
                    <span id="cancel_btn">
                      <button onclick="status()" type="button" class="ml-2 btn btn-danger">
                        Cancel
                      </button>
                    </span>
                    {{/ifeq}} --}}

                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>



            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                {{!-- <li class="page-item "> --}}
                  {{#for 1 totalPages 1}}
                <li class="page-item">
                  <a class="page-link" href="/my_orders?page={{this}}">{{this}}</a>
                </li>
                
                  {{/for}}
                {{!-- <a class="page-link" href="my_orders?page=1" tabindex="-1">1</a> --}}
                {{!-- </li> --}}
                {{!-- <li class="page-item"><a class="page-link" href="my_orders?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="my_orders?page=3">3</a></li> --}}
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

